*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    background-color:lightgrey;
}
.name{
    display: flex;
    justify-content: space-around;
    margin: 5px;
   
}
.code{
    display: flex;
    /* justify-content:; */
}

.htmlbar{
    /* border: 2px solid black; */
    width: 34%;
    /* padding-left: 25px; */
    /* padding-bottom: 25px; */
}
.cssbar{
    /* border: 2px solid black; */
    width: 33%;
    /* padding-left: 25px; */
    /* padding-bottom: 25px; */
}
.jsbar{
    /* border: 2px solid black; */
    width: 33%;
    /* padding-left: 25px; */
    /* padding-bottom: 25px; */
}
.btn{
    background-color: lightgrey;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    /* height: 25px; */
}
#output{
    /* border: 2px solid black ; */
    width: 100%;
    height: 190px;
}

#console{
    /* border: 2px solid rgb(230, 43, 43) ; */
    background-color: rgb(183, 223, 233);
    width: 100%;
    height: 145px;
}